delta.sql
.vs
*.dbmdl
src/TemplateMethod/packages/
/*/packages/*
/packages/
!packages/repositories.config
/bin/*
/obj/*
src/TemplateMethod/*/bin/*
src/TemplateMethod/*/obj/*
src/TemplateMethod/StarbuzzBaristaManual.sln.DotSettings.user