delta.sql
.vs
*.dbmdl
src/CompositeIterator/packages/
/*/packages/*
/packages/
!packages/repositories.config
/bin/*
/obj/*
src/CompositeIterator/*/bin/*
src/CompositeIterator/*/obj/*
src/CompositeIterator/CompositeIterator.sln.DotSettings.user